body {
  text-align: center;
  background-color: #042141;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}



.btn {
  margin: auto;
 
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;

}

@media(max-width:1234px){
  .btn {
    margin: 5% auto;
    height: 300px;
    width: 70%;
  }
  .brd{
    margin-left: 40px;
    font-size: 4rem;
    
  }
  .btn-sm{
    font-size: 2.7rem;
  }
  

}


.game-over {
  background-color: rgb(114, 24, 24);
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
